@{
    ViewBag.Title = "AWS Demo";
}

<div class="jumbotron">
    <h1>Amit Mahadar - Demo (Sample ASP.NET Application)</h1>
    <p class="lead">AWS Elastic Beanstalk ASP.NET application running in the AWS Cloud.</p>
   

    <p class="lead"><img src="~/Content/AmitPOC4.jpg" /></p>

    <!--
    <p>In-Depth Introduction</p>

    <div class="video-responsive">
        <iframe src="https://www.youtube.com/embed/OJVLYPo2T4Y?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <br/>
    <p><a href="https://www.youtube.com/channel/UCd6MoB9NC6uYN2grvUNT-Zg" class="btn btn-primary btn-lg">Watch more &raquo;</a></p>
        -->
</div>

